@import "tailwindcss";
@source "./";

@theme {
  --color-orange-500: #f97316;
  --font-sans: "Poppins", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}